In [1]:
import numpy as np
import pandas as pd
import zipfile
import plotly.express as px
import matplotlib.pyplot as plt
import requests
from io import BytesIO
import plotly.graph_objects as go
from plotly.subplots import make_subplots
import streamlit as st

ModuleNotFoundError: No module named 'streamlit'

In [2]:
import streamlit as st

ModuleNotFoundError: No module named 'streamlit'

In [3]:
# # This is a smaller file with only the most popular names
#url = 'https://github.com/esnt/Data/raw/main/Names/popular_names.csv'
#data = pd.read_csv(url)
# data.columns = ['name','sex','count','year']
# data['pct'] = data['count'] / data.groupby(['year', 'sex'])['count'].transform('sum')

# This is a larger file with all names
def load_name_data():
    names_file = 'https://www.ssa.gov/oact/babynames/names.zip'
    response = requests.get(names_file)
    with zipfile.ZipFile(BytesIO(response.content)) as z:
        dfs = []
        files = [file for file in z.namelist() if file.endswith('.txt')]
        for file in files:
            with z.open(file) as f:
                df = pd.read_csv(f, header=None)
                df.columns = ['name','sex','count']
                df['year'] = int(file[3:7])
                dfs.append(df)
        data = pd.concat(dfs, ignore_index=True)
    data['pct'] = data['count'] / data.groupby(['year', 'sex'])['count'].transform('sum')
    return data
data = load_name_data()

In [4]:
data

              name sex  count  year       pct
0             Mary   F   7065  1880  0.077642
1             Anna   F   2604  1880  0.028617
2             Emma   F   2003  1880  0.022012
3        Elizabeth   F   1939  1880  0.021309
4           Minnie   F   1746  1880  0.019188
...            ...  ..    ...   ...       ...
2117214      Zyell   M      5  2023  0.000003
2117215       Zyen   M      5  2023  0.000003
2117216     Zymirr   M      5  2023  0.000003
2117217     Zyquan   M      5  2023  0.000003
2117218      Zyrin   M      5  2023  0.000003

[2117219 rows x 5 columns]